.Home {
    background-image:
        url(../assets/leftBG.png),
        url(../assets/rightBG.png);
    /* Full height */
    height: 98vh;
    margin: 0;
    padding: 0;
    width: 100%;

    /* Center and scale the image nicely */
    background-position:
        left,
        right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.homeText {
    padding-top: 6%;
    text-align: center;
}

.homeButton {
    margin-left: 48.5em; /* 49em for full screen */
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
}

.spacing {
    margin-bottom: 0em;
}