.button {
	box-shadow: -1px 0px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
	background-color:#ffffff;
	border-radius:42px !important;
	border:2px solid #00733b !important;
	display:inline-block;
	cursor:pointer;
	color:#00733b !important;
	font-family:Trebuchet MS;
	font-size:16px;
	padding:12px 25px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    margin: 20px !important;
}

.storeBackContainer {
    background-image:
    url(../assets/leftBG.png),
    url(../assets/rightBG.png);
    /* Full height */
    height: 98vh;
    margin: 0;
    padding: 0;
    width: 100%;

    /* Center and scale the image nicely */
    background-position:
        left,
        right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mainContainer {
    display: flex;
    flex-direction: column;
}

.button:hover {
	background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
	background-color:#ffffff;
}
.button:active {
	position:relative;
	top:1px;
}

.body{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    margin: auto;
    width: 500px;
    border-radius: 20px;
    padding: 50px 20px 50px 20px;
    background: #f0efef;
}

.home{
    display: inline;
    margin: auto;
    padding-right: 80%;
    padding-top: 15px;
    padding-bottom: 4%;
}

.homeButton{
    width: 5px;
    border-color: #00733b !important;
    color: #00733b !important; 
    background-color: #ffffff !important;
}

.imageuploader{
    margin-top: 30px;
}